<link href="css/login-register.css" rel="stylesheet" />

<div class="modal fade login" id="loginModal">
		      <div class="modal-dialog login animated">
    		      <div class="modal-content">
    		         <div class="modal-header">
    		         	<h4 class="modal-title">Login with</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        
                    </div>
                    <div class="modal-body">
                        <div class="box">
                             <div class="content">
                                <div class="social">
                                    <a class="circle github" href="#">
                                        <i class="bi bi-github"></i>
                                    </a>
                                    <a id="google_login" class="circle google" href="#">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                    <a id="facebook_login" class="circle facebook" href="#">
                                        <i class="bi bi-facebook"></i>
                                    </a>
                                </div>
                                <div class="division">
                                    <div class="line l"></div>
                                      <span>or</span>
                                    <div class="line r"></div>
                                </div>
                                <div class="error"></div>
                                <div class="form loginBox">
                                    <form method="POST" action="/login" accept-charset="UTF-8">
                                    <input id="email" class="form-control" type="text" placeholder="Email" name="email">
                                    <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                                    <input class="btn btn-default btn-login" type="submit" value="Login">
                                    </form>
                                </div>
                             </div>
                        </div>
                        <div class="box">
                            <div class="content registerBox" style="display:none;">
                             <div class="form">
                                <form method="POST" action="/register" accept-charset="UTF-8">
                                <input id="email-reg" class="form-control" type="text" placeholder="Email" name="email" autocomplete="off">
                                <input id="password_reg" class="form-control" type="password" placeholder="Password" name="password" onkeyup='check();'>
                                <span class="fa fa-eye"></span>
                                <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation" onkeyup='check();'>
                                <p id="message1"></p>
                                <p id="message2"></p>
                                <input class="btn btn-default btn-register" type="submit" value="Create account" name="commit" disabled>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="forgot login-footer">
                            <span>Looking to
                                 <a href="javascript: showRegisterForm();">create an account</a>
                            ?</span>
                        </div>
                        <div class="forgot register-footer" style="display:none">
                             <span>Already have an account?</span>
                             <a href="javascript: showLoginForm();">Login</a>
                        </div>
                    </div>
    		      </div>
		      </div>
		  </div>

<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="closeContact" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Your Query has been Submitted</h2>
        <i class="fa fa-thumbs-up fa-8x" aria-hidden="true"></i>
        <h4>Our Team will try to respond to you as quickly as possible</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary closeContact" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="js/login-register.js" type="text/javascript"></script>