<!DOCTYPE html>
<html lang="en">

  <!-- ======= Header ======= -->
  <%- include('partials/header') %>
<!-- #header -->
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="clearfix">
    <div class="container" data-aos="fade-up">

      <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="img/hero-img.svg" alt="" class="img-fluid">
      </div>

      <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
        <h2>An exclusive<br><span>presentation</span><br>for your exclusive ideas!</h2>

        <div>
          
          <a href="#services" class="btn-services scrollto">Our Services</a>
        </div>
      </div>

    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>About Us</h3>
          <p><h3>"Stand Out From The Crowd In Your Presentation"</h3></p>
          <p><b>We make your presentation ,simple, beautiful and impactful in 48 hrs or less done by our
            professional graphic designers team</b></p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
             We make powerpoint presentations more beautiful,understandable,impactful and interesting
             in 24-48 hrs which is helpful for the Customer,Marketing Department,Accounting
              Department,Freelancers and Enterprises who are willing to outsource the corporate
        presentations.
            </p>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-file-earmark-ppt-fill"></i></div>
              <h4 class="title"><a href="">STEP 1</a></h4>
              <p class="description">UPLOAD PRESENTATION</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-search"></i></div>
              <h4 class="title"><a href="">STEP 2</a></h4>
              <p class="description">SPECIFY CHANGES & MODIFICATION</p>
            </div>
			
			<div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">STEP 3</a></h4>
              <p class="description">VERIFY DRAFT OF PRESENTATION</p>
            </div>
			
			<div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-download"></i></div>
              <h4 class="title"><a href="">STEP 4</a></h4>
              <p class="description">DOWNLOAD PRESENTATION</p>
            </div>



          </div>

          <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
            <img src="img/about-extra-2.svg" class="img-fluid" alt="">
          </div>
        </div>

        

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="section-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>Services</h3>
          <p>We don't just build presentations,we build presentations that sell your ideas.</p>
        </header>

        <div class="row justify-content-center">

          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon"><i class="bi bi-aspect-ratio" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Restructure</a></h4>
              <p class="description">We will do makeover of your presentation and make your content
               look slick and professional, make it impactful and beautiful.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon"><i class="bi bi-pencil-square" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Redraw</a></h4>
              <p class="description">We'll not only conceptualize, but also redraw or turn your sketch orimages into a fully editable slide and also add graphic elements, icons and illustration.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon"><i class="bi bi-chat-square-text-fill" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Fit Out </a></h4>
              <p class="description">Alignment of your text and elements according to your template or CVI,
               changes in text sizes and fonts.We'll clean up your unattractive ppt and make it look professional.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon"><i class="bi bi-image-fill"  style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Master Templates</a></h4>
              <p class="description">We update the old template or create a brand new template that can be used to design all future powerpoint presentations.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon"><i class="bi bi-tools" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">InfoGraphics</a></h4>
              <p class="description">We'll add a collection of imagery, charts and minimal text that will give an easy to understand overview of a topic.It uses visuals to communicate your idea in presentation.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon"><i class="bi bi-x-diamond-fill"  style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Icons</a></h4>
              <p class="description">We'll be using unique and customized icons throughout the ppt tocomplement the content and design. You can get this feature on request.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h3>Why choose us?</h3>
          <p>It's our passion to serve with our best creative presentation.</p>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="card" data-aos="zoom-in" data-aos-delay="100">
              <i class="bi bi-laptop-fill"></i>
              <div class="card-body">
                <h5 class="card-title">Working Methodology</h5>
                <p class="card-text">Our process of working is quick and simple. Upload presentation review and revise
                  the presentation.Once approved by you make the payment and download the file.</p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card" data-aos="zoom-in" data-aos-delay="200">
             <i class="bi bi-hourglass-split"></i>
              <div class="card-body">
                <h5 class="card-title">Time Frame</h5>
                <p class="card-text">24 hour turnaround time.This deadline never exceeds.
                   Getting a good presentation makeover at an affordable price.</p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card" data-aos="zoom-in" data-aos-delay="300">
              <i class="bi bi-vector-pen"></i>
              <div class="card-body">
                <h5 class="card-title">Exclusive Design</h5>
                <p class="card-text">The dedicated design team knows how to implement CVI, delivers high quality
              presentations and also tries to accommodate your wishes in terms of design and
              deadlines.</p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

        </div>

        <div class="row counters" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="421" data-purecounter-duration="1" class="purecounter"></span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1364" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hard Workers</p>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="clearfix">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3 class="section-title">Our Portfolio</h3>
        </header>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">PPT</li>
              <li data-filter=".filter-card">TEMPLATE</li>
              <li data-filter=".filter-web">CARDS</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/ppt1.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">PPT </a></h4>
                <p>App</p>
                <div>
                  <a href="img/portfolio/app1.jpg" data-gallery="portfolioGallery" title="App 1" class="portfolio-lightbox link-preview"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/ppt2.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">PPT</a></h4>
                <p>Web</p>
                <div>
                  <a href="img/portfolio/web3.jpg" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/ppt3.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">PPT</a></h4>
                <p>App</p>
                <div>
                  <a href="img/portfolio/app2.jpg" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="App 2"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/portfolio/ppt4.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">PPT</a></h4>
                <p>Card</p>
                <div>
                  <a href="img/portfolio/card2.jpg" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Card 2"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/ppt5.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">PPT</a></h4>
                <p>Web</p>
                <div>
                  <a href="img/portfolio/web2.jpg" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Web 2"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/ppt1.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">PPT</a></h4>
                <p>App</p>
                <div>
                  <a href="img/portfolio/app3.jpg" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="App 3"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          

        </div>

      </div>
    </section><!-- End Portfolio Section -->
    
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="section-bg">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h3>Our CLients</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dere santome nida.</p>
        </div>

        <div class="row g-0 clients-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-1.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-2.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-3.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-4.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-5.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-6.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-7.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-8.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Clients Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
          <h3>Contact Us</h3>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
              <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 340px;" allowfullscreen></iframe> -->
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.6033174900645!2d72.82199591443162!3d19.212520787009723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b7a4b43946e9%3A0x380572e2ec440372!2sAnand%20sagar%20building!5e0!3m2!1sen!2sin!4v1622534865433!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-5 info">
                <i class="bi bi-geo-alt"></i>
                <p>Room No. 1, Ground Floor, Plot 121, Shri Anand Sagar CHS, , Sector 1 Charkop Kandivali West Mumbai 400067</p>
              </div>
              <div class="col-md-4 info">
                <i class="bi bi-envelope"></i>
                <p>info@kpwebbate.tech</p>
              </div>
              <div class="col-md-3 info">
                <i class="bi bi-phone"></i>
                <p>+91 9820764356</p>
              </div>
            </div>

            <div class="form">
              <form class="php-email-form">
                <div class="row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                  <div class="form-group col-lg-6 mt-3 mt-lg-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" id="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="button" id="btnmsg" title="Send Message">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('partials/footer') %>
<!-- End Footer -->

  <!-- Login-Register Modal with its css and scripts-->
  <%- include('partials/login-register.ejs') %>

</html>
